body {
  background-color: grey;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  background-color: aliceblue;
  margin-top: 0;
  box-sizing: border-box;
  border-top: 1px solid black;
  padding: 10px 0;
}

.des {
  background-color: aliceblue;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
